[user]
	email = antonin.guyot@icloud.com
	name = antoninguyot
	signingkey = ~/.ssh/id_dsa.pub

[color]
	ui = true

[core]
	autocrlf = input
	excludesfile = ~/.gitignore

[commit]
	gpgsign = true

[gpg]
	format = ssh

