[user]
	email = antonin.guyot@icloud.com
	name = antoninguyot
	signingkey = ~/.ssh/id_dsa.pub

[color]
	ui = true

[core]
	autocrlf = input
	excludesfile = ~/.gitignore

[commit]
	gpgsign = true

[gpg]
	format = ssh

[init]
	defaultBranch = master

# diff config for delta (https://github.com/dandavison/delta)
[core]
	pager = LESS='FR' delta

[interactive]
	diffFilter = delta 

[delta]
	dark = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default
