[language-server.astro-ls]
command = "astro-ls"
args = ["--stdio"]

[[language]]
name = "astro"
scope = "source.astro"
injection-regex = "astro"
file-types = ["astro"]
language-servers = ["astro-ls"]
formatter = { command = "prettier", args = ["--plugin", "prettier-plugin-astro", "--parser", "astro"] }
auto-format = true

[langage-server.json]
command = "vscode-json-languageserver"
